.about {
  background-color: #fafafb;
  padding: 100px 0;
}

.about__wrapper {
  display: flex;
  // align-items: center;
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.about__text {
  margin-bottom: 40px;
  p {
    line-height: 1.5;
    font-weight: 300;
    @media (max-width: 1919px) {
      font-size: 16px;
    }
  }
  @media (max-width: 1023px) {
    order: 2;
  }
}

.about__picture {
  max-width: 860px;
  width: 100%;
  flex: 1 0 auto;
  border-radius: 16px;
  margin-left: 40px;
  overflow: hidden;
  // min-height: 400px;
  img {
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1919px) {
    max-width: 643px;
  }
  @media (max-width: 1365px) {
    max-width: 472px;
  }
  @media (max-width: 1023px) {
    margin-left: 0;
    border-radius: 0;
  }
}

.about__button {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  @media (max-width: 1023px) {
    width: 100%;
  }
  @media (max-width: 1023px) {
    min-width: auto;
    order: 3;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  img {
    @media (max-width: 1023px) {
      order: 1;
      margin-bottom: 20px;
    }
  }
}

.about__title {
  @media (max-width: 1023px) {
    order: 0;
  }
}
