.about-inner {
  background-color: #fafafb;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1919px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 1023px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.about-inner__wrapper {
  display: flex;
  align-items: center;
  & > div {
    &:nth-child(2) {
      margin-left: 140px;
      @media (max-width: 1919px) {
        margin-left: 110px;
      }
      @media (max-width: 1365px) {
        margin-left: 80px;
      }
      @media (max-width: 1023px) {
        margin-left: 0;
      }
    }
  }
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.about-inner__picture {
  border-radius: 16px;
  max-width: 860px;
  width: 100%;
  flex: 1 0 auto;
  overflow: hidden;

  @media (max-width: 1919px) {
    max-width: 640px;
  }
  @media (max-width: 1365px) {
    max-width: 470px;
  }
  @media (max-width: 1023px) {
    max-width: 100%;

    order: 0;
    margin-bottom: 20px;
  }
}

.about-inner__text {
  line-height: 1.5;
  @media (max-width: 1023px) {
    font-size: 16px;
    order: 2;
  }
}

.about__inner-title {
  @media (max-width: 1365px) {
    margin-bottom: 50px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 40px;
  }
}

.about-inner__content {
  display: flex;
  flex-direction: column;
  .title-inner {
    @media (max-width: 1365px) {
      margin-bottom: 30px;
    }
    @media (max-width: 1023px) {
      order: 1;
      margin-bottom: 20px;
    }
  }
}
