.contacts-info__wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.contacts-info__title {
  margin-bottom: 80px;
  @media (max-width: 1365px) {
    margin-bottom: 50px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 40px;
  }
}

.contacts-info__content {
  display: flex;
  flex-direction: column;
  li {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 50px;
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    @media (max-width: 1023px) {
      margin-bottom: 20px;
    }
  }

  span {
    font-size: 24px;
    font-weight: 600;
    color: #2b5278;
    margin-bottom: 10px;
    @media (max-width: 1365px) {
      font-size: 20px;
    }
  }
  p,
  a {
    font-size: 24px;
    @media (max-width: 1365px) {
      font-size: 20px;
    }
  }
}

.contacts-info__map {
  max-width: 860px;
  width: 100%;
  flex: 1 0 auto;
  border-radius: 16px;
  overflow: hidden;
  margin-left: 100px;
  @media (max-width: 1919px) {
    max-width: 643px;
  }
  @media (max-width: 1365px) {
    max-width: 472px;
  }
  @media (max-width: 1023px) {
    margin-left: auto;
    iframe {
      height: 310px;
    }
  }
}
