.hero {
  background-image: url("../img/hero.png");
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 285px;
  margin-bottom: 0;
}

.hero__wrapper {
  padding-right: 50%;
}

.hero__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 30px;
  letter-spacing: -2px;
}

.hero__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.hero__button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 68px;
  padding: 0 63px;
  background-color: #2b5278;
  border-radius: 16px;
  cursor: pointer;
}
