.hero {
  background-image: url("../img/hero.png");
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 285px;
  margin-bottom: 0;
  @media (max-width: 1366px) {
    padding-top: 90px;
    padding-bottom: 160px;
  }
  @media (max-width: 360px) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 80px;
  }
}

.hero__wrapper {
  padding-right: 50%;
  @media (max-width: 1366px) {
    padding-right: 40%;
  }
  @media (max-width: 1024px) {
    padding-right: 30%;
  }
  @media (max-width: 360px) {
    padding-right: 10px;
  }
}

.hero__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 30px;
  letter-spacing: -2px;
  @media (max-width: 1024px) {
    font-size: 60px;
    margin-bottom: 20px;
  }
  @media (max-width: 360px) {
    font-size: 40px;
    text-align: center;
  }
}

.hero__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  @media (max-width: 1024px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  @media (max-width: 360px) {
    text-align: center;
  }
}

.hero__button {
  min-width: 400px;
  @media (max-width: 360px) {
    width: 100%;
    min-width: auto;
  }
}

.hero__picture {
  display: none;
  @media (max-width: 360px) {
    display: block;
    margin-bottom: 20px;
  }
}
