.questions {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1023px) {
    flex-direction: column;
  }
  &--mode {
    display: block;
    margin-top: 140px;
    @media (max-width: 1365px) {
      margin-top: 100px;
    }
    @media (max-width: 1023px) {
      margin-top: 80px;
    }
  }
}

.questions__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.questions__item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 10px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px 70px;
  border-radius: 16px;
  box-shadow: 0px 6.16296px 20.7037px rgba(16, 24, 100, 0.0425185),
    0px 1.3037px 5.2963px rgba(16, 24, 100, 0.0274815);
  margin-top: -60px;
  &:last-child {
    @media (max-width: 1023px) {
      margin-top: 0;
    }
  }
  @media (max-width: 1919px) {
    padding: 40px 30px;
  }
  @media (max-width: 1365px) {
    padding: 20px;
    margin-top: -30px;
  }
  @media (max-width: 1023px) {
    margin-top: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  &--mode {
    margin-top: 0;
    @media (max-width: 1919px) {
      width: calc(100% / 2 - 15px);
      margin-bottom: 30px;
      padding: 40px 110px;
    }
    @media (max-width: 1365px) {
      padding: 40px 27px;
      width: calc(100% / 2 - 10px);
      margin-bottom: 20px;
    }
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
}

.questions__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  h2 {
    font-weight: 600;
    font-size: 24px;
    @media (max-width: 1365px) {
      font-size: 20px;
    }
  }
}

.questions__text {
  p {
    line-height: 1.5;
    font-weight: 300;
    @media (max-width: 1365px) {
      font-size: 14px;
    }
  }
}

.questions__picture {
  max-width: 80px;
  width: 100%;
  flex: 1 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6.16296px 20.7037px rgba(16, 24, 100, 0.0425185),
    0px 1.3037px 5.2963px rgba(16, 24, 100, 0.0274815);
  border-radius: 16px;
  margin-right: 30px;
  @media (max-width: 1919px) {
    margin-right: 20px;
  }
}
