footer.footer 
    .footer__wrapper._container 
        .footer__logo.logo
            span nemakhov
            span management
        .footer__nav 
            a(href="") Услуги
            a(href="") Цены
            a(href="") Кейсы
            a(href="") Контакты
        .footer__contacts 
            a(href="mailto:dnemahov@yandex.ru") 
                img(src="img/icons/mail-white.svg" alt="")
                span dnemahov@yandex.ru
            a(href="tel:+79896250099")
                img(src="img/icons/phone-white.svg" alt="")
                span +7 989 625 00 99
