header.header._container 
    a.header__logo.logo(href="/")
        span nemakhov
        span management
    nav.header__nav
        a(href="services.html") Услуги
        a(href="price.html") Цены
        a(href="") Кейсы
        a(href="contacts.html") Контакты
        a(href="about.html") о компании
        button.header__close
            img(src="img/icons/cross.svg" alt="")
    .overlay
    .header__contacts
        a(href="mailto:dnemahov@yandex.ru") 
            img(src="img/icons/mail.svg", alt="")
            span dnemahov@yandex.ru
        a(href="tel:+79896250099") 
            img(src="img/icons/phone.svg", alt="")
            span +7 989 625 00 99
    .header__burger 
        img(src="img/icons/burger.svg" alt="")