section.questions._container 
    .questions__item
        .questions__header
            .questions__picture 
                img(src="img/icons/q1.svg" alt="")
            h2 Зачем кризис-менеджмент 1
        .questions__text
            p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 
    .questions__item
        .questions__header
            .questions__picture 
                img(src="img/icons/q2.svg" alt="")
            h2 Зачем кризис-менеджмент 2
        .questions__text 
            p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 
    .questions__item
        .questions__header 
            .questions__picture
                img(src="img/icons/q3.svg" alt="")
            h2 Зачем кризис-менеджмент 3
        .questions__text 
            p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 
