doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                .breadcrumbs._container
                    a(href="index.html")  Главная
                    img(src="img/icons/line.svg" alt="")
                    a Кейсы

                section.cases._container 
                    .tabs.cases__wrapper
                        .tabs__header.cases__header
                            .cases__header-inner
                                button.tabs__all-content ВСЕ КЕЙСЫ
                                .tabs__btns
                                    button.active 2015 - 2016
                                    button 2016 - 2020
                                    button 2020 - 2022
                        .tabs__content.active.cases__content
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Неомед
                                .cases__text 
                                    p Являясь всего лишь частью общей картины, явные признаки победы институционализации, превозмогая сложившуюся непростую экономическую ситуацию, описаны
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Меднанопрофи
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p Являясь всего лишь частью общей картины, явные признаки победы институционализации, превозмогая сложившуюся непростую экономическую ситуацию, описаны
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                        .tabs__content.cases__content
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Неомед
                                .cases__text 
                                    p Являясь всего лишь частью общей картины, явные признаки победы институционализации, превозмогая сложившуюся непростую экономическую ситуацию, описаны
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Меднанопрофи
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p Являясь всего лишь частью общей картины, явные признаки победы институционализации, превозмогая сложившуюся непростую экономическую ситуацию, описаны
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                        .tabs__content.cases__content
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Неомед
                                .cases__text 
                                    p Являясь всего лишь частью общей картины, явные признаки победы институционализации, превозмогая сложившуюся непростую экономическую ситуацию, описаны
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Меднанопрофи
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p Являясь всего лишь частью общей картины, явные признаки победы институционализации, превозмогая сложившуюся непростую экономическую ситуацию, описаны
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач
                            a(href="").cases__item 
                                .cases__title
                                    img(src="img/icons/k1.svg" alt="")
                                    h3 Профимед
                                .cases__text 
                                    p В частности, высококачественный прототип будущего проекта требует определения и уточнения позиций, занимаемых участниками в отношении поставленных задач





            include modules/footer
        include modules/script