doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                .breadcrumbs._container
                    a(href="index.html")  Главная
                    img(src="img/icons/line.svg" alt="")
                    a(href="cases.html") Кейсы
                    img(src="img/icons/line.svg" alt="")
                    a Профимед

                section.case._container 
                    h2.title.case__title Профимед
                    .case-block 
                        .case-block__content
                            h3.title-inner.case-block__title ОАО НПО ПАО «Профимед»
                            date Июнь 2012 — сентябрь 2022 г.
                            p Несколько слов о заказчике. Современные технологии достигли такого уровня, что существующая теория играет важную роль в формировании анализа существующих паттернов поведения. Также как курс на социально-ориентированный национальный проект позволяет.
                        .case-block__picture 
                            img(src="img/img17.jpg" alt="")

                section.desctinations._container 
                    h3.title-inner.destinations__title Цели сотрудничества
                    .destinations__wrapper 
                        .destinations__item 
                            p.destinations__caption Цель сотрудничества 1
                            p.destinations__text В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 
                        .destinations__item 
                            p.destinations__caption Цель сотрудничества 1
                            p.destinations__text В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 
                        .destinations__item 
                            p.destinations__caption Цель сотрудничества 1
                            p.destinations__text В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 

                section.actions._container 
                    h3.title-inner.actions__title Наши действия
                    .actions__wrapper 
                        .actions__item 
                            .actions__picture 
                                img(src="img/img19.jpg" alt="")
                            .actions__content 
                                p.actions__caption 
                                    img(src="img/icons/arrow-black.svg" alt="")
                                    span Действие 1
                                .actions__text
                                    p Тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности обеспечивает актуальность благоприятных перспектив. Вот вам яркий пример современных тенденций 
                        .actions__item 
                            .actions__picture 
                                img(src="img/img20.jpg" alt="")
                            .actions__content 
                                p.actions__caption 
                                    img(src="img/icons/arrow-black.svg" alt="")
                                    span Действие 2
                                .actions__text
                                    p Тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности обеспечивает актуальность благоприятных перспектив. Вот вам яркий пример современных тенденций 
                        .actions__item 
                            .actions__picture 
                                img(src="img/img21.jpg" alt="")
                            .actions__content 
                                p.actions__caption 
                                    img(src="img/icons/arrow-black.svg" alt="")
                                    span Действие 3
                                .actions__text
                                    p Тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности обеспечивает актуальность благоприятных перспектив. Вот вам яркий пример современных тенденций 


                section.statictic._container 
                    h2.title-inner.statistic__title Статистика проекта
                    .statistic__wrapper 
                        p.statistic__caption Статистика
                        .statistic__graphic
                            img(src="img/statistic.png" alt="")

                section.case._container
                    .case__slider
                        .case__item
                            .case-block 
                                .case-block__content
                                    h3.title-inner.case-block__title Итоги проекта
                                    p Несколько слов о заказчике. Современные технологии достигли такого уровня, что существующая теория играет важную роль в формировании анализа существующих паттернов поведения. Также как курс на социально-ориентированный национальный проект позволяет.
                                .case-block__picture 
                                    img(src="img/img18.jpg" alt="")
                        .case__item
                            .case-block 
                                .case-block__content
                                    h3.title-inner.case-block__title Итоги проекта
                                    p Несколько слов о заказчике. Современные технологии достигли такого уровня, что существующая теория играет важную роль в формировании анализа существующих паттернов поведения. Также как курс на социально-ориентированный национальный проект позволяет.
                                .case-block__picture 
                                    img(src="img/img18.jpg" alt="")
                        .case__item
                            .case-block 
                                .case-block__content
                                    h3.title-inner.case-block__title Итоги проекта
                                    p Несколько слов о заказчике. Современные технологии достигли такого уровня, что существующая теория играет важную роль в формировании анализа существующих паттернов поведения. Также как курс на социально-ориентированный национальный проект позволяет.
                                .case-block__picture 
                                    img(src="img/img18.jpg" alt="")



            include modules/footer
        include modules/script