doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                section.hero 
                    img.hero__picture(src="img/hero-mobile.png" alt="")
                    .hero__wrapper._container 
                        h2.hero__title Более 10 лет развития медицинских центров
                        p.hero__subtitle Составим антикризисный план для развития вашей организации
                        button.button.hero__button Заказать консультацию

                include modules/questions

                section.about
                    .about__wrapper._container
                        .about__content 
                            h2.title.about__title О компании
                            .about__text
                                p Сложно сказать, почему некоторые особенности внутренней политики могут быть смешаны с не уникальными данными до степени совершённой неузнаваемости, из-за чего возрастает их статус бесполезности. Безусловно, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов) участие в формировании анализа  существующих паттернов поведения. Каждый из нас понимает очевидную вещь: высокое.
                            a(href="about-inner.html").button.about__button Узнать подробнее
                        .about__picture 
                            img(src="img/img05.jpg" alt="")

                section.services
                    .services__wrapper._container
                        h2.title.services__title Наши услуги
                        .services__content.services-slider
                            .services__item
                                .services__header
                                    .services__picture
                                        img(src="img/icons/s1.svg" alt="")
                                    h2 Услуга номер 1
                                .services__text 
                                    p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение
                            .services__item
                                .services__header
                                    .services__picture
                                        img(src="img/icons/s2.svg" alt="")
                                    h2 Услуга номер 2
                                .services__text
                                    p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение
                            .services__item
                                .services__header
                                    .services__picture 
                                        img(src="img/icons/s3.svg" alt="")
                                    h2 Услуга номер 3
                                .services__text 
                                    p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение
                            .services__item
                                .services__header
                                    .services__picture 
                                        img(src="img/icons/s4.svg" alt="")
                                    h2 Услуга номер 1
                                .services__text 
                                    p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение
                            .services__item
                                .services__header
                                    .services__picture 
                                        img(src="img/icons/s5.svg" alt="")
                                    h2 Услуга номер 3
                                .services__text 
                                    p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение
                            a.services__item(href="")
                                .services__inner
                                    p Все услуги
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.4948 0.833008L9.61479 2.71301L17.0548 10.1663H0.828125V12.833H17.0548L9.61479 20.2863L11.4948 22.1663L22.1615 11.4997L11.4948 0.833008Z" fill="#1B2734" fill-opacity="0.3"/></svg>


                include modules/projects
                include modules/feedback






            include modules/footer
        include modules/script