doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                section.hero 
                    .hero__wrapper._container 
                        h2.hero__title Более 10 лет развития медицинских центров
                        p.hero__subtitle Составим антикризисный план для развития вашей организации
                        button.button.hero__button Заказать консультацию

                section.questions._container 
                    .questions__item
                        .questions__header 
                            img(src="img/icons/q1.svg" alt="")
                            p Зачем кризис-менеджмент пункт 1
                        .questions__text 
                            p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 
                    .questions__item
                        .questions__header 
                            img(src="img/icons/q2.svg" alt="")
                            p Зачем кризис-менеджмент пункт 2
                        .questions__text 
                            p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 
                    .questions__item
                        .questions__header 
                            img(src="img/icons/q3.svg" alt="")
                            p Зачем кризис-менеджмент пункт 3
                        .questions__text 
                            p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение 

                section.about
                    .about__wrapper._container
                        

                    

            include modules/footer
        include modules/script