doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                .breadcrumbs._container
                    a(href="index.html")  Главная
                    img(src="img/icons/line.svg" alt="")
                    a Цены

                section.price._container 
                    h2.title.price__title Стоимость наших услуг
                    .price__wrapper 
                        .price__text 
                            p Пояснительный текст о примерности цен. Или о точности. Всё индивидуально.
                            p Равным образом, консультация с широким активом однозначно определяет каждого участника как способного принимать собственные решения касаемо благоприятных перспектив. Прежде всего, начало повседневной работы по формированию позиции способствует повышению качества стандартных подходов.

                        .price__picture 
                            img(src="img/img05.jpg" alt="")

                section.description._container 
                    .description__item
                        .description__header
                            .description__picture
                                img(src="img/icons/message.svg" alt="") 
                            p кризис-менеджмент
                            span 1 999 ₽ 
                        .description__content 
                            p То что включает в себя:
                            ul
                                li Курс на социально-ориентированный национальный проект 
                                li Пользовательский опыт мы упускаем
                                li Призваны к ответу.
                    .description__item
                        .description__header
                            .description__picture
                                img(src="img/icons/message.svg" alt="") 
                            p кризис-менеджмент
                            span 1 999 ₽ 
                        .description__content 
                            p То что включает в себя:
                            ul
                                li Курс на социально-ориентированный национальный проект 
                                li Пользовательский опыт мы упускаем
                                li Призваны к ответу.
                    .description__item
                        .description__header
                            .description__picture
                                img(src="img/icons/message.svg" alt="") 
                            p кризис-менеджмент
                            span 1 999 ₽ 
                        .description__content 
                            p То что включает в себя:
                            ul
                                li Курс на социально-ориентированный национальный проект 
                                li Пользовательский опыт мы упускаем
                                li Призваны к ответу.
                    .description__item
                        .description__header
                            .description__picture
                                img(src="img/icons/message.svg" alt="") 
                            p кризис-менеджмент
                            span 1 999 ₽ 
                        .description__content 
                            p То что включает в себя:
                            ul
                                li Курс на социально-ориентированный национальный проект 
                                li Пользовательский опыт мы упускаем
                                li Призваны к ответу.
                    .description__item
                        .description__header
                            .description__picture
                                img(src="img/icons/message.svg" alt="") 
                            p кризис-менеджмент
                            span 1 999 ₽ 
                        .description__content 
                            p То что включает в себя:
                            ul
                                li Курс на социально-ориентированный национальный проект 
                                li Пользовательский опыт мы упускаем
                                li Призваны к ответу.


                include modules/feedback


            include modules/footer
        include modules/script