doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            .banner-promo
                header.header._container
                    a.header__logo.logo(href="/")
                        span nemakhov
                        span management
                    nav.header__nav
                        a(href="services.html") Услуги
                        a(href="price.html") Цены
                        a(href="cases.html") Кейсы
                        a(href="contacts.html") Контакты
                        a(href="about-inner.html") о компании
                        button.header__close
                            img(src="img/icons/cross.svg" alt="")
                    .overlay
                    .header__contacts
                        a(href="mailto:dnemahov@yandex.ru")
                            img(src="img/icons/mail.svg" alt="")
                            span dnemahov@yandex.ru
                        a(href="tel:+79896250099")
                            img(src="img/icons/phone.svg" alt="")
                            span +7 989 625 00 99
                    .header__burger
                        img(src="img/icons/burger.svg" alt="")

                .hero.hero--promo
                    .hero__wrapper._container
                        h2.hero__title.hero__title--color-white Крупный заголовок про коучинг
                        p.hero__subtitle.hero__subtitle--color-white Небольшой текст-кояснение какие плюсы будут от этого.  Повседневная практика показывает, что сплочённость команды профессионалов не оставляет шанса для кластеризации усилий!
            .page
                section.questions.questions--mode._container
                    h2.title.questions__title Кому это необходимо?
                    .questions__wrapper
                        .questions__item.questions__item--mode
                            .questions__header
                                .questions__picture
                                    img(src="img/icons/q1.svg" alt="")
                                h2 Зачем кризис-менеджмент 1
                            .questions__text
                                p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение
                        .questions__item.questions__item--mode
                            .questions__header
                                .questions__picture
                                    img(src="img/icons/q2.svg" alt="")
                                h2 Зачем кризис-менеджмент 2
                            .questions__text
                                p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение
                        .questions__item.questions__item--mode
                            .questions__header
                                .questions__picture
                                    img(src="img/icons/q3.svg" alt="")
                                h2 Зачем кризис-менеджмент 3
                            .questions__text
                                p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение

                section.about-inner._container
                    .about-inner__wrapper
                        .about-inner__picture
                            img(src="img/img08.jpg" alt="")
                        .about-inner__content
                            h3.title-inner Немахов Дмитрий Валериевич
                            .about-inner__text
                                p Президент Региональной общественной организации медицинских работников «Медицинский Мир».В рамках организации занимаемся проведением обучающих мероприятий для медицинских работников, По запросам фармацевтических компаний проводим анализ работы их сотрудников на визитах в ЛПУ.

                section.advantages._container
                    h2.title-inner.advantages__title В прочессе вы научитесь
                    .advantages__wrapper
                        .advantages__item
                            .advantages__header
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9948 0.832031L9.11479 2.71203L16.5548 10.1654H0.328125V12.832H16.5548L9.11479 20.2854L10.9948 22.1654L21.6615 11.4987L10.9948 0.832031Z" fill="#2B5278"/></svg>

                                p Штукенция номер один
                            .advantages__text
                                p Приятно, граждане, наблюдать, как явные признаки победы институционализации будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу!
                        .advantages__item
                            .advantages__header
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9948 0.832031L9.11479 2.71203L16.5548 10.1654H0.328125V12.832H16.5548L9.11479 20.2854L10.9948 22.1654L21.6615 11.4987L10.9948 0.832031Z" fill="#2B5278"/></svg>

                                p Штукенция номер два
                            .advantages__text
                                p Мы вынуждены отталкиваться от того, что экономическая повестка сегодняшнего дня в значительной степени обусловливает важность экспериментов, поражающих по своей масштабности и грандиозности.
                        .advantages__item
                            .advantages__header
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9948 0.832031L9.11479 2.71203L16.5548 10.1654H0.328125V12.832H16.5548L9.11479 20.2854L10.9948 22.1654L21.6615 11.4987L10.9948 0.832031Z" fill="#2B5278"/></svg>

                                p Ни у конечно же три
                            .advantages__text
                                p Как принято считать, реплицированные с зарубежных источников, современные исследования представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объявлены нарушающими общечеловеческие нормы этики и морали.

                section.description._container
                    h2.title-inner.description__title Цены
                    .description__wrapper
                        .description__item
                            .description__header
                                .description__picture
                                    img(src="img/icons/message.svg" alt="")
                                p кризис-менеджмент
                                span 1 999 ₽
                            .description__content
                                p То что включает в себя:
                                ul
                                    li Курс на социально-ориентированный национальный проект
                                    li Пользовательский опыт мы упускаем
                                    li Призваны к ответу.
                        .description__item
                            .description__header
                                .description__picture
                                    img(src="img/icons/message.svg" alt="")
                                p кризис-менеджмент
                                span 1 999 ₽
                            .description__content
                                p То что включает в себя:
                                ul
                                    li Курс на социально-ориентированный национальный проект
                                    li Пользовательский опыт мы упускаем
                                    li Призваны к ответу.
                        .description__item
                            .description__header
                                .description__picture
                                    img(src="img/icons/message.svg" alt="")
                                p кризис-менеджмент
                                span 1 999 ₽
                            .description__content
                                p То что включает в себя:
                                ul
                                    li Курс на социально-ориентированный национальный проект
                                    li Пользовательский опыт мы упускаем
                                    li Призваны к ответу.

                section.actions._container
                    h3.title-inner.actions__title Наши действия
                    .actions__wrapper
                        .actions__item
                            .actions__picture
                                img(src="img/img19.jpg" alt="")
                            .actions__content
                                p.actions__caption
                                    img(src="img/icons/arrow-black.svg" alt="")
                                    span Действие 1
                                .actions__text
                                    p Тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности обеспечивает актуальность благоприятных перспектив. Вот вам яркий пример современных тенденций
                        .actions__item
                            .actions__picture
                                img(src="img/img20.jpg" alt="")
                            .actions__content
                                p.actions__caption
                                    img(src="img/icons/arrow-black.svg" alt="")
                                    span Действие 2
                                .actions__text
                                    p Тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности обеспечивает актуальность благоприятных перспектив. Вот вам яркий пример современных тенденций
                        .actions__item
                            .actions__picture
                                img(src="img/img21.jpg" alt="")
                            .actions__content
                                p.actions__caption
                                    img(src="img/icons/arrow-black.svg" alt="")
                                    span Действие 3
                                .actions__text
                                    p Тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности обеспечивает актуальность благоприятных перспектив. Вот вам яркий пример современных тенденций
                        .actions__item
                            .actions__picture
                                img(src="img/img21.jpg" alt="")
                            .actions__content
                                p.actions__caption
                                    img(src="img/icons/arrow-black.svg" alt="")
                                    span Действие 3
                                .actions__text
                                    p Тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности обеспечивает актуальность благоприятных перспектив. Вот вам яркий пример современных тенденций

                section.reviews._container
                    h2.title-inner.reviews__title
                        span Отзывы
                        .reviews__arrows
                            button.slickCustom-prev
                                img(src="img/icons/slick-prev.svg" alt="Предыдущий слайд")
                            button.slickCustom-next
                                img(src="img/icons/slick-next.svg" alt="Следующий слайд")
                    .reviews__wrapper
                        .reviews__slider
                            .reviews__item
                                p.reviews__name Алексей Валентинович
                                p.reviews__text Хочу сказать огромное спасибо Дмитрию за сегодняшнюю нашу сессию. Дмитрий уверенно помог мне перенестись в решение моей задачи, провёл со мной технику, где я получила море поддержки в свой адрес, а также помог мне поверить в себя и начать двигаться в направлении моей цели. Один шаг я уже сегодня сделала, путь начала. Благодарю тебя, Дмитрий, за общение и твоё чуткое отношение
                            .reviews__item
                                p.reviews__name Алексей Валентинович
                                p.reviews__text Хочу сказать огромное спасибо Дмитрию за сегодняшнюю нашу сессию. Дмитрий уверенно помог мне перенестись в решение моей задачи, провёл со мной технику, где я получила море поддержки в свой адрес, а также помог мне поверить в себя и начать двигаться в направлении моей цели. Один шаг я уже сегодня сделала, путь начала. Благодарю тебя, Дмитрий, за общение и твоё чуткое отношение
                            .reviews__item
                                p.reviews__name Алексей Валентинович
                                p.reviews__text Хочу сказать огромное спасибо Дмитрию за сегодняшнюю нашу сессию. Дмитрий уверенно помог мне перенестись в решение моей задачи, провёл со мной технику, где я получила море поддержки в свой адрес, а также помог мне поверить в себя и начать двигаться в направлении моей цели. Один шаг я уже сегодня сделала, путь начала. Благодарю тебя, Дмитрий, за общение и твоё чуткое отношение
                            .reviews__item
                                p.reviews__name Алексей Валентинович
                                p.reviews__text Хочу сказать огромное спасибо Дмитрию за сегодняшнюю нашу сессию. Дмитрий уверенно помог мне перенестись в решение моей задачи, провёл со мной технику, где я получила море поддержки в свой адрес, а также помог мне поверить в себя и начать двигаться в направлении моей цели. Один шаг я уже сегодня сделала, путь начала. Благодарю тебя, Дмитрий, за общение и твоё чуткое отношение

                include modules/feedback






            include modules/footer
        include modules/script
